.gradle/
gradle/
gradlew
gradlew.bat
.idea/
*.iml
cmake-build-*/
*.iws
out/
target/
build/
.idea_modules/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
